		.is-invalid{
			box-shadow: 0 0 5px 5px ##59392D;
			border:0;
			
		}
		
		.alert{
			background-color:#59392D;
			color: #ffffff;
			margin-bottom: 20px;
			padding: 10px;
		}
		.title{
			font-size: 120%;
			color: #ffffff;
			background-color:#244035;
			margin-bottom: 20px;
			padding: 10px;
		}
		.button-create{
			right: 10%; 
			position: absolute;
			background-color:#ADD9CC;
		}
		
		.button-right{
			padding:10px;
			margin-bottom: 30px; 
		}
		
		body, select, input{
			font-family: Courier New;
		}
		.logo {
			margin-left: 10%;
			margin-top: 5%;
			margin-bottom: 5%;
			display:block;
			font-size: 180%;
		}
		.menu {
			margin-left: 10%;
			font-size: 120%;
			float: left;
			height:100%;
		}
		.menu-point{
			margin-bottom: 7%;
			background-color:#E3F2F0;
			padding: 10px;
		}
		.content{
			float: left;
			margin-left: 12%;
		}
		.form-point{
			margin-bottom:10px;
		}
		.list{
			padding:10px;
			border: 1px solid gray;
			margin-bottom: 10px;
		}
		.list-point{
			margin-bottom: 10px;
		}
		a {
			text-decoration: none;
		}
		a:hover{
			text-decoration: underline;
		}
		button {
			margin-bottom: 10px;
			border: 0px;
			background-color: #E4F2F0;
			padding: 10px;
			font-family: Courier New;
		}
		svg {
			width: 10px;
			height: 10px;
		}
		